/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color variables
$font-color-default: #777;
$font-color-light: #fff;
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$border-color: #ccc;

// Styling variables
$border-radius: 5px;

// Media Query breakpoints
$breakpoint: 768px;