/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $font-color-light;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $border-radius;
  
}

@each $key, $value in $button-color {
  .#{$key} {
    background-color: $value;
  }
}
// .default {
//   background-color: $secondary-color;

//   &:hover {
//     background-color: lighten($secondary-color, 10%);
//   }
// }

// .error {
//   background-color: $error;
  
//   &:hover {
//     background-color: lighten($error, 10%);
//   }
// }

// .info {
//   background-color: $info;

//   &:hover {
//     background-color: lighten($info, 10%);
//   }
// }

// .success {
//   background-color: $success;

//   &:hover {
//     background-color: lighten($success, 10%);
//   }
// }

// .warning {
//   background-color: $warning;

//   &:hover {
//     background-color: lighten($warning, 10%);
//   }
// }