/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $font-color-light;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $border-radius;
  
}

@each $button-key, $color-value in $button-color {
  .#{$button-key} {
    background-color: $color-value;
   
    &:hover {
      background-color: lighten($color-value, 10%);
    }
  } 
}